# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Static files (optional if collected)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter (if used)
.ipynb_checkpoints/

# ML files (optional - if large)
*.h5
*.joblib